SERVER_HOST="127.0.0.1"
SERVER_PORT=8000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=rosamsoe
POSTGRES_PASSWORD=password
POSTGRES_DB=rosamsoe

DATABASE_URL=postgresql://rosamsoe:password@localhost:6500/rosamsoe?schema=public

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password

JWT_SECRET=b9c63c1e60a2ecf92a2f1481b39b650c8b6361531289d14c063eef16b468e172
JWT_EXPIRED_IN=15m
